* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {

    font-family: 'Shadows Into Light', sans-serif;

    margin: 0;
    padding: 0;

    color: #ff00ff;
}

ul {
    list-style-type: none;
}

p {
    font-family: 'Shadows Into Light', sans-serif;

    color: #c618c6;

    margin: 0;
    padding: 0;
}

a {
    font-family: 'Shadows Into Light', sans-serif;

    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;

    height: 100px;
}

.wrapper {
    width: 1200px;

    margin: 0 auto;
}
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    justify-content: space-around;


    width: 200px;
}

.social-img {
    width: 32px;
    height: 32px;
}

.about-me {
    display: flex;
}

.about-me-text {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    max-width: 767px;
    width: 767px;
}

.about-me-header {
    font-size: 56px;
}

.about-me-qualification {
    font-size: 24px;
}

.header-text {
    font-size: 36px;
}

.plain-text {
    font-size: 24px;
}

.about-content {
    width: 767px;
}

.contacts-about-content {
    display: flex;
}

.contacts-content {
    width: 433px;
}

.skills-code-content {
    display: flex;
}

.skills-content {
    width: 433px;
}

.skills-ul {
    list-style-type: "x";
    font-family: 'Shadows Into Light', sans-serif;
    color: #c618c6;
    font-size: 15px;
}

.skills-ul > li > p {
    padding-left: 5px;
}

